<!-- Clients Aside -->
<section id="app">
    <aside class="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center">Page d'identification</h1>
                    <img src="media/images/login_g.gif" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center">Choix des repas</h1>
                    <img src="media/images/menu-selection_g.gif" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center">Liste de courses</h1>
                    <img src="media/images/shopping_g.gif" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
</section>