<!-- Services Section -->
<section id="intro">
    <div class="container-fluid bg-light-gray">

        <div class="row">
            <!--
            <div class="col-lg-12 text-center">
                <h4 class="section-heading">
                    Swipeat will make it easy to plan your meals and shop for groceries.
                </h4>
            </div>
            -->


            <div class="col-lg-12 text-center">
                <h2 class="service-heading">What is Swipeat ?</h2>
            </div>

            <div class="col-lg-12 text-center">
                <p>
                    An application that will make it easy to plan your meals and shop for groceries
                </p>

                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                </span>
                            <!--img class="img-circle img-responsive" src="img/about/1.jpg" alt=""-->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Add lifestyle characteristics </h4>
                                <h4 class="subheading">&nbsp;</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Select meals of your choice</h4>
                                <h4 class="subheading">or swipe proposed meal away</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Shopping list is automatically created</h4>
                                <h4 class="subheading">but editing is always possible</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chosen meals are saved</h4>
                                <h4 class="subheading">and can easily be found when you will cook</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="service-heading">
                    Advantages for the users
                </h2>
            </div>

            <div class="col-lg-6 col-lg-offset-2">

                <ul>
                    <li>Time saving<br>
                        No more need to search for recipes, to aggregate ingredients and to write down the list.
                    </li>
                    <li>Easy way to discover new food and recipes<br>
                        Choose in lifestyle characteristic specific food specialties
                    </li>
                    <li>Easy to plan meals for the week<br>
                        Thanks to lifestyle characteristic and history, Swip’Eat provides the user with a lot of
                        recipes.
                    </li>
                    <li>Select or swipe the recipe away.<br>
                        Easy to manage health constraint
                    </li>
                    <li>Health constraints can be added in your lifestyle/preferences<br>
                        Recipes are quickly available at the moment of cooking
                    </li>
                    <li>Shopping list can be edited before, during or after the shopping<br>
                        As soon as something is physically added on the shopping cart, intuitively remove the ingredient
                        from the
                        list
                    </li>
                    <li>The list is automatically categorizing ingredients within food groups vegetables together,
                        dairy, etc.<br>
                        The amount of ingredients is automatically computed depending on the number of person eating a
                        particular
                        meal.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light-gray">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="service-heading">
                    The typical user of Swipeat
                </h2>
            </div>

            <div class="col-lg-12 text-center">
                <p>
                    People who don’t have time to plan their meals and write down their shopping list
                </p>
                <p>
                    People who need some culinary imagination
                </p>
                <p>
                    People who are curious to discover new culinary specialties
                </p>
                <p>
                    People who want to make it easy to manage their health constraints
                </p>
                <p>
                    People who are always connected with their smartphone
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="service-heading">
                    Targeted Public
                </h2>
            </div>

            <div class="col-lg-12 text-center">
                <p>
                    People who do food shopping and who possesses a smartphone
                </p>
            </div>

            <div class="col-lg-12 text-center">
                <h2 class="service-heading">
                    Opensource database
                </h2>
            </div>

            <div class="col-lg-12 text-center">
                <p>
                    Swipeat is using open recipe database allowing to build a huge choice of recipes
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-light-gray">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="service-heading">
                    Development possibilities
                </h2>
            </div>

            <div class="col-lg-6 col-lg-offset-2">
                <p>
                    Geo-localization of shops
                </p>
                <p>
                    Special offers proposed on a specific product in a specific shop (i.e. personalized coupons)
                </p>
                <p>
                    Recipe database can grow thanks to people who propose new recipes
                </p>
                <p>
                    Characteristic on a recipe can be added by all users (that allow for instance to classify a recipe
                    as "sport")
                </p>
                <p>
                    Thanks to the large amount of data gathered on eating and shopping habits, SwipEat will suggest get
                    better at
                    suggestions
                </p>
                <p>
                    Nutritionist can classify a recipe as “good” for some type of illness
                </p>
                <p>
                    Online shopping can be done directly within the app thanks to online shopping partners (ie. LeShop)
                </p>
                <p>
                    Shops can create recipes in order to push some products to targeted customers.
                </p>
                <p>
                    Producer can become a provider of recipes and so it allows him to attire specific people in his farm
                    for direct
                    sales or for online sales. (thanks to geo localization only user around receive this information)
                </p>
                <p>
                    Add ingredients on the shopping list and automatically find a recipe with these ingredients.
                </p>
                <p>
                    Commercial recipes provider provide their recipe database and can get more visibility.
                </p>
            </div>

                <!--
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">E-Commerce</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Responsive Design</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Web Security</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                -->
            </div>
        </div>
</section>