<!-- Services Section -->
<section id="intro">
    <div class="container-fluid bg-light-gray">

        <div class="row">
            <!--
            <div class="col-lg-12 text-center">
                <h4 class="section-heading">
                    Swipeat will make it easy to plan your meals and shop for groceries.
                </h4>
            </div>
            -->


            <div class="col-lg-12 text-center">
                <h2 class="service-heading">C’est quoi SwipEat ?</h2>
            </div>

            <div class="col-lg-12 text-center">
                <p>
                    C'est une application qui facilite la planification de vos repas et de vos courses.
                </p>

                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                </span>
                            <!--img class="img-circle img-responsive" src="img/about/1.jpg" alt=""-->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ajouter ses préférences personnelles</h4>
                                <h4 class="subheading">&nbsp;</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Choisir ses repas parmis les choix proposés</h4>
                                <h4 class="subheading">et balayer de l'écran les propositions non retenues</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>La liste de course est créée automatiquement</h4>
                                <h4 class="subheading">tout en étant modifiable</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Les repas sélectionnés sont enregistrés</h4>
                                <h4 class="subheading">Et sont facilement retrouvés au moment de cuisiner </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>